extends layout

block content
	h1 Welcome to my simple blog
	p 
		| Sometimes, the number of indentations can get too nested. 
		| In the case of tags without
		| text, you can use Jade's block expansion 
		| feature to define the hierarchy on one line.
		| The block expansion uses a colon after the tag.
		| Here are some examples to show you how block expansions work

	ul.contact-list
		li
			a(href="http://www.twitter.com/chichibek") Twitter
		li
			a(href="http://www.github.com/ilmoralito") Mis proyectos
